<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10213257698-fek2qtbrhf90l6j0qovmlkp1rg0cvk3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10213257698-fek2qtbrhf90l6j0qovmlkp1rg0cvk3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDtuTD1vpfynFFaUClmEc4ATEdvk2FKK6w</string>
	<key>GCM_SENDER_ID</key>
	<string>10213257698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikramsingh.Studium</string>
	<key>PROJECT_ID</key>
	<string>studium-8c168</string>
	<key>STORAGE_BUCKET</key>
	<string>studium-8c168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10213257698:ios:4ca13de11be0b27e9a49bb</string>
	<key>DATABASE_URL</key>
	<string>https://studium-8c168.firebaseio.com</string>
</dict>
</plist>