//
//  Secrets.xcconfig
//  Studium
//
//  Created by Vikram Singh on 5/6/23.
//  Copyright © 2023 Vikram Singh. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MONGODB_APP_ID=studium-dmcfi

OpenAIAPIKey=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

GIDClientID=221406332443-he18tqfi4jbg40mbgpgmaaebenekh208.apps.googleusercontent.com
GIDServerClientID=221406332443-bvb0ag7qn7ie72v0tm7i3dmgu93qidfl.apps.googleusercontent.com
